{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="btnDiv">
<a class="btn btn-secondary" href="{% url 'totalbeers' %}" role="button">Return</a>
</div>
{% if notexist == "True" %}
<p>We are terribly sorry but that record does not exist</p>
{% else %}
<div class="entry-content">
        <h1 style="font-family:'Times New Roman', Times, serif;" align="center"><strong>{{beername}}</strong></h1>
    <div style="display: flex; justify-content: center;">
      <img class="wp-image-91405 size-full" src="{% get_static_prefix %}beer/img/{{beer_img_name}}.jpg" alt="Beer" width="500" height="500"/>
    </div>
    <p>&nbsp;{{remarks}}</p>
    <h3>Style: <span>{{beerobj.style}}</span></h3>
    <h3>ABV: <span>{{beerobj.ABV}}</span></h3>
</div>
{% endif %}



{% endblock %}